# ==========================================================
# Л Despliegue de n8n en entorno de desarrollo
# ==========================================================
# Archivo: values-dev.yaml
# Descripci贸n:
#   Este archivo define la configuraci贸n de n8n para un entorno
#   de desarrollo local o pruebas ligeras.
#
# Variables principales:
#   - global.image.repository: repositorio de la imagen de n8n
#   - global.image.tag: versi贸n de la imagen
#   - server.service.type: tipo de servicio Kubernetes (ClusterIP recomendado para dev)
#   - server.ingress.*: configuraci贸n de ingreso HTTP/HTTPS (opcional)
#   - env.*: variables de entorno de n8n
#   - resources.*: recursos asignados a los pods
#
# Requisitos:
#   - Cl煤ster Kubernetes con acceso interno
# ==========================================================

global:
  image:
    repository: n8nio/n8n # З Repositorio de la imagen
    tag: 1.67.0 # З Versi贸n de n8n
image:
  repository: us-central1-docker.pkg.dev/elite-ceremony-476307-s9/dariasmoises979/mi-aplicacion
  tag: pre-8188ecf
  pullPolicy: IfNotPresent
server:
  # ======================================================
  # 锔 Configuraci贸n del servicio n8n
  # ======================================================
  service:
    type: ClusterIP # ClusterIP para desarrollo
    port: 5678
    # ======================================================
    #  Ingress p煤blico (opcional)
    # ======================================================
    # ingress:
    #   enabled: false
    #   ingressClassName: ""
    #   hosts: []
    #   tls: []
configs:
  params:
    # ======================================================
    #  Variables de entorno n8n
    # ======================================================
    N8N_BASIC_AUTH_ACTIVE: "false"
    GENERIC_TIMEZONE: "Europe/Madrid"
    EXECUTIONS_DATA_SAVE_ON_ERROR: "all"
    DB_TYPE: "sqlite"
    DB_SQLITE_VACUUM_ON_STARTUP: "true"
resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
