---
# HTTPRoute que conecta el Gateway GKE con Istio
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: edge-to-istio
  namespace: infra
spec:
  parentRefs:
  - name: edge-gateway
    namespace: infra
  hostnames:
  - "demo.example.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: istio-ingressgateway
      namespace: istio-system
      port: 80
      kind: Service